<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:property-placeholder location="classpath:config.properties"/>

    <bean id="echonestApiProvider" class="com.polarnick.unicorn.echonest.EchonestAPIProvider">
        <constructor-arg name="apiKey" value="${echonest.apikey}"/>
    </bean>

    <bean id="enmfpFingerPrinter" class="com.polarnick.unicorn.echonest.recognizers.fingerprinters.ENMFPFingerPrinter">
        <constructor-arg name="executablePath" value="${enmfp.exe}"/>
    </bean>

    <bean id="enmfpRecognizer" class="com.polarnick.unicorn.echonest.recognizers.FingerPrintRecognizer">
        <constructor-arg name="apiProvider" ref="echonestApiProvider"/>
        <constructor-arg name="fingerPrinter" ref="enmfpFingerPrinter"/>
        <constructor-arg name="fingerPrinterVersion" value="${enmfp.version}"/>
    </bean>

    <bean id="fullFileRecognizer" class="com.polarnick.unicorn.echonest.recognizers.FullFileRecognizer">
        <constructor-arg name="apiProvider" ref="echonestApiProvider"/>
        <constructor-arg name="analysisTimeout" value="${echonest.analysis.timeout}"/>
        <constructor-arg name="maxAttempts" value="${echonest.uploading.maxattempts}"/>
    </bean>

    <bean id="songRecognizer" class="com.polarnick.unicorn.echonest.recognizers.SongRecognizerAppender">
        <constructor-arg>
            <list>
                <ref bean="enmfpRecognizer"/>
                <ref bean="fullFileRecognizer"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="foldersProcessor" class="com.polarnick.unicorn.io.FoldersWalker">
        <constructor-arg name="recognizer" ref="songRecognizer"/>
    </bean>

</beans>